## Pandas:

In [55]:
!pip install Pandas

Requirement already satisfied: Pandas in c:\users\you excel\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\you excel\appdata\local\programs\python\python313\lib\site-packages (from Pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\you excel\appdata\local\programs\python\python313\lib\site-packages (from Pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\you excel\appdata\local\programs\python\python313\lib\site-packages (from Pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\you excel\appdata\local\programs\python\python313\lib\site-packages (from Pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\you excel\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->Pandas) (1.17.0)

In [56]:
import pandas as pd

In [57]:
df=pd.read_csv("cricinfo.csv")

In [58]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [59]:
import numpy as np
np.array(df)

array([['DG Bradman (AUS)', '1928-1948', 52, 80, 10, 6996, '334', 99.94,
        '9800+', '58.6', 29, 13, '7', 626, 6],
       ['PHKD Mendis (SL)', '2022-2025', 12, 21, 2, 1184, '182*', 62.31,
        '1839', '64.38', 5, 4, '-', 123, 23],
       ['AC Voges (AUS)', '2015-2016', 20, 31, 7, 1485, '269*', 61.87,
        '2667', '55.68', 5, 4, '2', 186, 5],
       ['RG Pollock (SA)', '1963-1970', 23, 41, 4, 2256, '274', 60.97,
        '1707+', '54.48', 7, 11, '1', 246, 11],
       ['GA Headley (WI)', '1930-1954', 22, 40, 4, 2190, '270*', 60.83,
        '416+', '56', 10, 5, '2', 104, 1],
       ['H Sutcliffe (ENG)', '1924-1935', 54, 84, 9, 4555, '194', 60.73,
        '6558+', '34.59', 16, 23, '2', 202, 6],
       ['E Paynter (ENG)', '1931-1939', 20, 31, 5, 1540, '243', 59.23,
        '1288+', '45.88', 4, 7, '3', 125, 4],
       ['KF Barrington (ENG)', '1955-1968', 82, 131, 15, 6806, '256',
        58.67, '4957+', '42.42', 20, 35, '5', 591, 27],
       ['ED Weekes (WI)', '1948-1958', 48, 81, 5, 4455, '207', 58.61,
        '-', '-', 15, 19, '6', 258, 2],
       ['HC Brook (ENG)', '2022-2024', 24, 40, 1, 2281, '317', 58.48,
        '2581', '88.37', 8, 10, '2', 246, 37],
       ['WR Hammond (ENG)', '1927-1947', 85, 140, 16, 7249, '336*',
        58.45, '7491+', '38.07', 22, 24, '4', 419, 27],
       ['GS Sobers (WI)', '1954-1974', 93, 160, 21, 8032, '365*', 57.78,
        '4063+', '53.58', 26, 30, '12', 593, 32],
       ['KC Sangakkara (SL)', '2000-2015', 134, 233, 17, 12400, '319',
        57.4, '22882', '54.19', 38, 52, '11', 1491, 51],
       ['JB Hobbs (ENG)', '1908-1930', 61, 102, 7, 5410, '211', 56.94,
        '5363+', '46.22', 15, 28, '4', 276, 8],
       ['SPD Smith (AUS)', '2010-2025', 116, 206, 25, 10271, '239',
        56.74, '19176', '53.56', 36, 41, '11', 1116, 61],
       ['CL Walcott (WI)', '1948-1960', 44, 74, 7, 3798, '220', 56.68,
        '-', '-', 15, 14, '1', 107, 11],
       ['L Hutton (ENG)', '1937-1955', 79, 138, 15, 6971, '364', 56.67,
        '2844+', '39.34', 19, 33, '5', 358, 7],
       ['JH Kallis (ICC/SA)', '1995-2013', 166, 280, 40, 13289, '224',
        55.37, '28903', '45.97', 45, 58, '16', 1488, 97],
       ['GE Tyldesley (ENG)', '1921-1929', 14, 20, 2, 990, '122', 55.0,
        '178+', '29.21', 3, 6, '2', 37, 2],
       ['KS Williamson (NZ)', '2010-2024', 105, 186, 17, 9276, '251',
        54.88, '17913', '51.78', 33, 37, '11', 1031, 27],
       ['CA Davis (WI)', '1968-1973', 15, 29, 5, 1301, '183', 54.2,
        '665+', '35.48', 4, 4, '1', 65, 1],
       ['VG Kambli (IND)', '1993-1995', 17, 21, 1, 1084, '227', 54.2,
        '1823', '59.46', 4, 3, '3', 124, 6],
       ['GS Chappell (AUS)', '1970-1984', 87, 151, 19, 7110, '247*',
        53.86, '13079+', '51.53', 24, 31, '12', 755, 16],
       ['AD Nourse (SA)', '1935-1951', 34, 62, 7, 2960, '231', 53.81,
        '108+', '63.88', 9, 14, '3', 115, 6],
       ['SR Tendulkar (IND)', '1989-2013', 200, 329, 33, 15921, '248*',
        53.78, '29437+', '54.04', 51, 68, '14', 2058, 69],
       ['BC Lara (ICC/WI)', '1990-2006', 131, 232, 6, 11953, '400*',
        52.88, '19753', '60.51', 34, 48, '17', 1559, 88],
       ['YBK Jaiswal (IND)', '2023-2025', 19, 36, 2, 1798, '214*', 52.88,
        '2738', '65.66', 4, 10, '3', 207, 39],
       ['Javed Miandad (PAK)', '1976-1993', 124, 189, 21, 8832, '280*',
        52.57, '15164+', '45.99', 23, 43, '6', 788, 48],
       ['R Dravid (ICC/IND)', '1996-2012', 164, 286, 32, 13288, '270',
        52.31, '31258', '42.51', 36, 63, '8', 1654, 21],
       ['Mohammad Yousuf (PAK)', '1998-2010', 90, 156, 12, 7530, '223',
        52.29, '14372', '52.39', 24, 33, '11', 957, 51],
       ['Younis Khan (PAK)', '2000-2017', 118, 213, 19, 10099, '313',
        52.05, '19375', '52.12', 34, 33, '19', 1082, 70],
       ['RT Ponting (AUS)', '1995-2012', 168, 287, 29, 13378, '257',
        51.85, '22782', '58.72', 41, 62, '17', 1509, 73],
       ['J Ryder (AUS)', '1920-1929', 20, 32, 5, 1394, '201*', 51.62,
        '2035+', '44.86', 3, 9, '1', 102, 3],
       ['A Flower (ZIM)', '1992-2002', 63, 112, 19, 4794, '232*', 51.54,
        '10636', '45.07', 12, 27, '5', 543, 20],
       ['MEK Hussey (AUS)', '2005-2013', 79, 137, 16, 6235, '195', 51.52,
        '12436', '50.13', 19, 29, '12', 685, 39],
       ['S Chanderpaul (WI)', '1994-2015', 164, 280, 49, 11867, '203*',
        51.37, '27395', '43.31', 30, 66, '15', 1285, 36],
       ['SM Gavaskar (IND)', '1971-1987', 125, 214, 16, 10122, '236*',
        51.12, '14184+', '43.35', 34, 45, '12', 908, 26],
       ['SR Waugh (AUS)', '1985-2004', 168, 260, 46, 10927, '200', 51.06,
        '22461', '48.64', 32, 50, '22', 1175, 20],
       ['JE Root (ENG)', '2012-2024', 152, 278, 23, 12972, '262', 50.87,
        '22568', '57.47', 36, 65, '13', 1394, 45],
       ['ML Hayden (AUS)', '1994-2009', 103, 184, 14, 8625, '380', 50.73,
        '14349', '60.1', 30, 29, '14', 1049, 82],
       ['AB de Villiers (SA)', '2004-2018', 114, 191, 18, 8765, '278*',
        50.66, '16077', '54.51', 22, 46, '8', 1024, 64],
       ['AR Border (AUS)', '1978-1994', 156, 265, 44, 11174, '205',
        50.56, '27002+', '41.09', 27, 63, '11', 1161, 28],
       ['Saud Shakeel (PAK)', '2022-2025', 19, 36, 3, 1658, '208*',
        50.24, '3345', '49.56', 4, 9, '2', 165, 2],
       ['IVA Richards (WI)', '1974-1991', 121, 182, 12, 8540, '291',
        50.23, '9613+', '69.77', 24, 45, '10', 952, 84],
       ['DCS Compton (ENG)', '1937-1957', 78, 131, 15, 5807, '278',
        50.06, '2731+', '38.81', 17, 28, '10', 342, 3],
       ['DPMD Jayawardene (SL)', '1997-2014', 149, 252, 15, 11814, '374',
        49.84, '22959', '51.45', 34, 50, '15', 1387, 61],
       ['Inzamam-ul-Haq (ICC/PAK)', '1992-2007', 120, 200, 22, 8830,
        '329', 49.6, '16345', '54.02', 25, 46, '15', 1105, 48],
       ['FMM Worrell (WI)', '1948-1963', 51, 87, 9, 3860, '261', 49.48,
        '488+', '40.16', 9, 22, '11', 240, 11],
       ['CP Mead (ENG)', '1911-1928', 17, 26, 2, 1185, '182*', 49.37,
        '619+', '30.04', 4, 3, '3', 38, 0],
       ['V Sehwag (ICC/IND)', '2001-2013', 104, 180, 6, 8586, '319',
        49.34, '10441', '82.23', 23, 32, '16', 1233, 91],
       ['Abid Ali (PAK)', '2019-2021', 16, 26, 2, 1180, '215*', 49.16,
        '2445', '48.26', 4, 3, '2', 148, 5],
       ['MJ Clarke (AUS)', '2004-2015', 115, 198, 22, 8643, '329*', 49.1,
        '15456', '55.92', 28, 27, '9', 978, 39],
       ['KC Bland (SA)', '1961-1966', 21, 39, 5, 1669, '144*', 49.08,
        '885+', '37.74', 3, 9, '2', 123, 20],
       ['B Mitchell (SA)', '1929-1949', 42, 80, 9, 3471, '189*', 48.88,
        '158+', '29.11', 8, 21, '3', 41, 1],
       ['Hon.FS Jackson (ENG)', '1893-1905', 20, 33, 4, 1415, '144*',
        48.79, '-', '-', 5, 6, '3', 51, 0],
       ['TT Samaraweera (SL)', '2001-2013', 81, 132, 20, 5462, '231',
        48.76, '11641', '46.92', 14, 30, '11', 633, 7],
       ['RN Harvey (AUS)', '1948-1963', 79, 137, 10, 6149, '205', 48.41,
        '1799+', '43.74', 21, 24, '7', 427, 1],
       ['KD Walters (AUS)', '1965-1981', 74, 125, 14, 5357, '250', 48.26,
        '8662+', '49.16', 15, 33, '4', 525, 23],
       ['GC Smith (ICC/SA)', '2002-2014', 117, 205, 13, 9265, '277',
        48.25, '15525', '59.67', 27, 38, '11', 1165, 24],
       ['WH Ponsford (AUS)', '1924-1934', 29, 48, 4, 2122, '266', 48.22,
        '3118+', '44.77', 7, 6, '1', 119, 0],
       ['SJ McCabe (AUS)', '1930-1938', 39, 62, 5, 2748, '232', 48.21,
        '3217+', '60.02', 6, 13, '4', 241, 5],
       ['DR Jardine (ENG)', '1928-1934', 22, 33, 6, 1296, '127', 48.0,
        '2110+', '25.59', 1, 10, '2', 53, 0]], dtype=object)

In [60]:
df.columns     #df.columns = print(df.columns)

Index(['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100', '50', '0', '4s', '6s'],
      dtype='object')

In [61]:
df.rename(columns={'Mat':'Matches','Span':'Duration','NO':'Not Out','BF':'Ball Faced'}, inplace=True)
#'olderone':'newone'  #inplace=update'

In [62]:
df

,Player,Duration,Matches,Inns,Not Out,Runs,HS,Ave,Ball Faced,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [63]:
df['Runs']

0     6996
1     1184
2     1485
3     2256
4     2190
      ...
57    5357
58    9265
59    2122
60    2748
61    1296
Name: Runs, Length: 62, dtype: int64

In [64]:
df.info() #information of overall dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Player      62 non-null     object
 1   Duration    62 non-null     object
 2   Matches     62 non-null     int64
 3   Inns        62 non-null     int64
 4   Not Out     62 non-null     int64
 5   Runs        62 non-null     int64
 6   HS          62 non-null     object
 7   Ave         62 non-null     float64
 8   Ball Faced  62 non-null     object
 9   SR          62 non-null     object
 10  100         62 non-null     int64
 11  50          62 non-null     int64
 12  0           62 non-null     object
 13  4s          62 non-null     int64
 14  6s          62 non-null     int64
dtypes: float64(1), int64(8), object(6)
memory usage: 7.4+ KB

## Information of overall dataframe #nan=not a null

In [65]:
df.isnull()

,Player,Duration,Matches,Inns,Not Out,Runs,HS,Ave,Ball Faced,SR,100,50,0,4s,6s
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
58,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
59,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
60,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
61,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

## To find null values

In [66]:
df.isnull().any()

Player        False
Duration      False
Matches       False
Inns          False
Not Out       False
Runs          False
HS            False
Ave           False
Ball Faced    False
SR            False
100           False
50            False
0             False
4s            False
6s            False
dtype: bool

## To find duplicate rows:

In [67]:
df.duplicated() #To find Duplicate Rows

0     False
1     False
2     False
3     False
4     False
      ...
57    False
58    False
59    False
60    False
61    False
Length: 62, dtype: bool

In [68]:
df

,Player,Duration,Matches,Inns,Not Out,Runs,HS,Ave,Ball Faced,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

## To print Players dataframe

In [69]:
df['Player']

0      DG Bradman (AUS)
1      PHKD Mendis (SL)
2        AC Voges (AUS)
3       RG Pollock (SA)
4       GA Headley (WI)
            ...
57     KD Walters (AUS)
58    GC Smith (ICC/SA)
59    WH Ponsford (AUS)
60      SJ McCabe (AUS)
61     DR Jardine (ENG)
Name: Player, Length: 62, dtype: object

## To check first 5 rows by default

In [70]:
df.head(2)

,Player,Duration,Matches,Inns,Not Out,Runs,HS,Ave,Ball Faced,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23

## To print last value of dataframe

In [71]:
df.tail()#first 5 rows from bottom

,Player,Duration,Matches,Inns,Not Out,Runs,HS,Ave,Ball Faced,SR,100,50,0,4s,6s
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [72]:
df['Player']

0      DG Bradman (AUS)
1      PHKD Mendis (SL)
2        AC Voges (AUS)
3       RG Pollock (SA)
4       GA Headley (WI)
            ...
57     KD Walters (AUS)
58    GC Smith (ICC/SA)
59    WH Ponsford (AUS)
60      SJ McCabe (AUS)
61     DR Jardine (ENG)
Name: Player, Length: 62, dtype: object

## To Split values from dataframe

In [73]:
df['Country']=df['Player'].str.split(pat='(').str[1] #df=dataframe

In [74]:
df['Country']=df['Country'].str.split(pat=')').str[0]

In [75]:
df

,Player,Duration,Matches,Inns,Not Out,Runs,HS,Ave,Ball Faced,SR,100,50,0,4s,6s,Country
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6,AUS
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,SL
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AUS
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,AUS
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,ICC/SA
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,AUS
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,AUS
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,ENG

In [76]:
df['Duration']

0     1928-1948
1     2022-2025
2     2015-2016
3     1963-1970
4     1930-1954
        ...
57    1965-1981
58    2002-2014
59    1924-1934
60    1930-1938
61    1928-1934
Name: Duration, Length: 62, dtype: object

In [77]:
df['Player']=df['Player'].str.split(pat='(').str[0]

In [78]:
df

,Player,Duration,Matches,Inns,Not Out,Runs,HS,Ave,Ball Faced,SR,100,50,0,4s,6s,Country
0,DG Bradman,1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6,AUS
1,PHKD Mendis,2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,SL
2,AC Voges,2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AUS
3,RG Pollock,1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA
4,GA Headley,1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,AUS
58,GC Smith,2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,ICC/SA
59,WH Ponsford,1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,AUS
60,SJ McCabe,1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,AUS
61,DR Jardine,1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,ENG

In [79]:
df['Duration']=df['Player'].str.split(pat='(')

In [80]:
df['Duration']

0      [DG Bradman ]
1     [PHKD Mendis ]
2        [AC Voges ]
3      [RG Pollock ]
4      [GA Headley ]
           ...
57     [KD Walters ]
58       [GC Smith ]
59    [WH Ponsford ]
60      [SJ McCabe ]
61     [DR Jardine ]
Name: Duration, Length: 62, dtype: object

In [81]:
df['Player']=df['Player'].str.split(pat='(').str[0]

In [82]:
df

,Player,Duration,Matches,Inns,Not Out,Runs,HS,Ave,Ball Faced,SR,100,50,0,4s,6s,Country
0,DG Bradman,[DG Bradman ],52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626,6,AUS
1,PHKD Mendis,[PHKD Mendis ],12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,SL
2,AC Voges,[AC Voges ],20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,AUS
3,RG Pollock,[RG Pollock ],23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,SA
4,GA Headley,[GA Headley ],22,40,4,2190,270*,60.83,416+,56,10,5,2,104,1,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,[KD Walters ],74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,AUS
58,GC Smith,[GC Smith ],117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,ICC/SA
59,WH Ponsford,[WH Ponsford ],29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,AUS
60,SJ McCabe,[SJ McCabe ],39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,AUS
61,DR Jardine,[DR Jardine ],22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,ENG

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Player      62 non-null     object
 1   Duration    62 non-null     object
 2   Matches     62 non-null     int64
 3   Inns        62 non-null     int64
 4   Not Out     62 non-null     int64
 5   Runs        62 non-null     int64
 6   HS          62 non-null     object
 7   Ave         62 non-null     float64
 8   Ball Faced  62 non-null     object
 9   SR          62 non-null     object
 10  100         62 non-null     int64
 11  50          62 non-null     int64
 12  0           62 non-null     object
 13  4s          62 non-null     int64
 14  6s          62 non-null     int64
 15  Country     62 non-null     object
dtypes: float64(1), int64(8), object(7)
memory usage: 7.9+ KB

In [84]:
df['HS']=df['HS'].str.split(pat='*').str[0]

In [85]:
df['HS']

0     334
1     182
2     269
3     274
4     270
     ...
57    250
58    277
59    266
60    232
61    127
Name: HS, Length: 62, dtype: object

In [86]:
df['HS']=df['HS'].astype('int')

In [87]:
df['HS'].dtype

dtype('int64')

In [88]:
df[df['HS']<=190]   #Print HS(High Score) Below 190.

,Player,Duration,Matches,Inns,Not Out,Runs,HS,Ave,Ball Faced,SR,100,50,0,4s,6s,Country
1,PHKD Mendis,[PHKD Mendis ],12,21,2,1184,182,62.31,1839,64.38,5,4,-,123,23,SL
18,GE Tyldesley,[GE Tyldesley ],14,20,2,990,122,55.00,178+,29.21,3,6,2,37,2,ENG
20,CA Davis,[CA Davis ],15,29,5,1301,183,54.20,665+,35.48,4,4,1,65,1,WI
48,CP Mead,[CP Mead ],17,26,2,1185,182,49.37,619+,30.04,4,3,3,38,0,ENG
52,KC Bland,[KC Bland ],21,39,5,1669,144,49.08,885+,37.74,3,9,2,123,20,SA
53,B Mitchell,[B Mitchell ],42,80,9,3471,189,48.88,158+,29.11,8,21,3,41,1,SA
54,Hon.FS Jackson,[Hon.FS Jackson ],20,33,4,1415,144,48.79,-,-,5,6,3,51,0,ENG
61,DR Jardine,[DR Jardine ],22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,ENG