## Monthly Sales:

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
ms=pd.read_csv('sales_data.csv')

In [5]:
ms     #ms=Monthly Sales

           date     product     category   price  quantity  revenue
0    2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1    2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2    2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3    2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4    2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0
..          ...         ...          ...     ...       ...      ...
364  2022-12-27       Watch  Accessories   150.0       5.0    750.0
365  2022-12-28        Coat     Clothing   100.0       5.0    500.0
366  2022-12-29  Headphones  Electronics   100.0      10.0   1000.0
367  2022-12-30  Smartphone  Electronics   600.0      11.0   6600.0
368  2022-12-31      Hoodie     Clothing    40.0      30.0   1200.0

[369 rows x 6 columns]

In [6]:
ms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    object
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     367 non-null    float64
 4   quantity  368 non-null    float64
 5   revenue   368 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.4+ KB

In [7]:
ms.rename(columns={'date':'Date','product':'Product','category':'Category','price':'Price',
                  'quantity':'Quantity','revenue':'Sales'}, inplace=True)

In [8]:
ms

           Date     Product     Category   Price  Quantity   Sales
0    2022-01-01  Smartphone  Electronics   600.0      10.0  6000.0
1    2022-01-01      Laptop  Electronics  1200.0       5.0  6000.0
2    2022-01-02     T-Shirt     Clothing    20.0      50.0  1000.0
3    2022-01-03  Headphones  Electronics   100.0      20.0  2000.0
4    2022-01-04     T-Shirt     Clothing    20.0      25.0   500.0
..          ...         ...          ...     ...       ...     ...
364  2022-12-27       Watch  Accessories   150.0       5.0   750.0
365  2022-12-28        Coat     Clothing   100.0       5.0   500.0
366  2022-12-29  Headphones  Electronics   100.0      10.0  1000.0
367  2022-12-30  Smartphone  Electronics   600.0      11.0  6600.0
368  2022-12-31      Hoodie     Clothing    40.0      30.0  1200.0

[369 rows x 6 columns]

In [9]:
ms['Month']=['January','February','Marach','April','May','June','July','August','September','October','Novembr','December']
ms

ValueError: Length of values (12) does not match length of index (369)

In [ ]:
ms.info()

In [ ]:
ms['Product'].value_counts()

In [ ]:
ms.Date

In [ ]:
ms['Quantity']=ms['Quantity'].round()

In [ ]:
ms['Quantity']=ms['Quantity'].astype(int)

In [ ]:
ms.info()

In [ ]:
ms['Sales']= ms['Date'] * ms['Quantity'].sum()

In [ ]:
ms